<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<canvas id="canvas"></canvas>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"
></script>